.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: black;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url('../../assets/batman-capa.webp');
}

.banner-2 {
    background-image: url("https://pbs.twimg.com/media/FMO83fmWYAMYttY.jpg");
}

.banner-3 {
    background-image: url("../../assets/Jim_Gordon_Total_Film_still.webp");
}

@media(max-width:768px) {
    
.cards-content {
    grid-template-columns: 1fr;
    margin-top: 100px;
}
}

@media(max-width:480px) {
    
    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 35px;
    }
}



